# Directories #
/build/
/bin/
target/

 
*.class
 
# Package Files #
*.jar
*.war
*.ear
*.db
 
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml


# Locally stored "Eclipse launch configurations"
*.launch
